<section class="l-company-message">
    <h3>Convinced to work with us?</h3>
    <p>Company has helped agencies keep their promies to clients since 2005</p>
    <form action="" class="message-form">
        <div class="form-input-wrapper">
            <div>
                <label for="fullname" class="is-hidden">FullName</label>
                <input name="fullname" id="fullname" placeholder="Fullame"/>
            </div>
            <div>
                <label for="email" class="is-hidden">Email Address</label>
                <input name="email" id="email" placeholder="Email Address"/>
            </div>
            <div>
                <label for="number" class="is-hidden">Phone Number</label>
                <input name="number" id="number" placeholder="Phone Number"/>
            </div>
        </div>
        <div class="form-textarea-wrapper">
            <label for="message" class="is-hidden">Email Address</label>
            <textarea name="message">Message in brief</textarea>
        </div>
        <div class="button-wrapper">
            <button type="submit">Submit</button>
        </div>
    </form>
</section>