<section class="company-description">
    <div class="company-description-text">
        <h2>Mauris id bibendum est. Proin dapibus sollicitudin iaculis, Maecenas condimentum maximus laoreet.</h2>
        <p>In maximus euismod egestas. Fusce tincidunt posuere est non elementum.Vivamus tincidunt eleifend nisl et gravida.Aenean in loren ultrices, pellentesque augue eu,mattis est.Praesent set volupat nibh.Morbi fausibus tortor sed volutpat nibh.Morbi faucibus tortor sed neque vulputate hendrerit.Sed aliquam mattis purus eleifend consectetur.Nulla mollis non enim non tempus</p>
    </div>
    <div class="company-description-image">
        <picture>
            <source media="(min-width: 768px)" srcset="assets/world_desktop.png">
            <img src="assets/world_mobile.png" alt="support" style="width:auto;">
        </picture>
    </div>
<section>