<footer class="footer-wrapper">
    <p><span>&copy;</span>Company.All Rights Reserved.</p>
    <p><span>Follow us on:</span><a><img src="assets/facebook_icon.svg"/></a><a><img src="assets/linkedin_icon.svg"/></a><a><img src="assets/twitter_icon.svg"/></a><a><img src="assets/email_icon.svg"/></a></p>
</footer>