<header>
    <ul class="header-wrapper">
        <li class="is-mobile-active">
            <a href=""><img src="assets/hamburger_menu.svg"/></a>
        </li>
        <li class="header-logo">
            <a href=""><img src="assets/company_logo.svg"/></a>
        </li>
        <li class="primary-nav">
            <ul class="is-desktop-active">
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Solutions</a></li>
                <li><a href="">Blog</a></li>
            </ul>
            <button class="header-chat-button">
                <img src="assets/chat_icon.svg"/>
                <span class="is-desktop-active">Get In Touch</span>
            </button>
        </li>
    </ul>
</header>