<section class="service">
    <h1>
        Integer bibendum sit amet arcu vel egestas
    </h1>
    <div class="service-wrapper">
        <button>
            <picture>
                <source media="(min-width: 768px)" srcset="assets/staffing_icon_desktop.svg">
                <img src="assets/staffing_icon_mobile.svg" alt="staffing" style="width:auto;">
            </picture>
            <span>Service Name</span>
        </button>
        <button>
            <picture>
                <source media="(min-width: 768px)" srcset="assets/technical_support_icon_desktop.svg">
                <img src="assets/technical_support_icon_mobile.svg" alt="support" style="width:auto;">
            </picture>
            <span>Service Name</span>
        </button>
        <button>
            <picture>
                <source media="(min-width: 768px)" srcset="assets/folder_sans_setting_desktop.svg">
                <img src="assets/folder_sans_setting_mobile.svg" alt="folder" style="width:auto;">
            </picture>
            <span>Service Name</span>
        </button>
    </div>
</section>