<section class="l-testimonial-wrapper">
    <h3>Testimonials</h3>
    <div class="testimonial-chat-wrapper">
        <div>
            <div class="talk-bubble tri-right border round btm-left-in">
                <div class="talktext">
                    <p><img src="assets/quotes.svg"/>Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim.Aenean non rhoncus quam</p>
                </div>
            </div>
            <div class="testimonial-client-detail">
                <div><img src="assets/client_icon.svg"/></div>
                <div><span>CLIENT NAME</span><span>Position,ORG</span></div>
            </div>
        </div>
        <div>
            <div class="talk-bubble tri-right border round btm-left-in">
                <div class="talktext">
                    <p><img src="assets/quotes.svg"/>Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim.Aenean non rhoncus quam</p>
                </div>
            </div>
            <div class="testimonial-client-detail">
                <div><img src="assets/client_icon.svg"/></div>
                <div><span>CLIENT NAME</span><span>Position,ORG</span></div>
            </div>
        </div>
        <div>
            <div class="talk-bubble tri-right border round btm-left-in">
                <div class="talktext">
                    <p><img src="assets/quotes.svg"/>Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim.Aenean non rhoncus quam</p>
                </div>
            </div>
            <div class="testimonial-client-detail">
                <div><img src="assets/client_icon.svg"/></div>
                <div><span>CLIENT NAME</span><span>Position,ORG</span></div>
            </div>
        </div>
    </div>
</section>